$primary-color: #4053f5;
$primary-color-btn: #1125d1;
$primary-color-hover-btn: #000b69;
$primary-color-btn-disabled: #9ca5f7;

.app {
  background-color: #edeffc;
  height: 100vh;
}

.custom-card {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
