$primary-color: #4053f5;
$primary-color-btn: #1125d1;
$primary-color-hover-btn: #000b69;

.app {
  background-color: #edeffc;
  height: 100vh;
}

.custom-card {
  background-color: white;
  padding: 50px;
  border-radius: 10px;
}
