@import "../App.scss";

.table-header {
  thead {
    background-color: $primary-color;
    color: white;
  }
}

.table-data {
  background-color: red;
}

.page-button {
  background-color: $primary-color !important;
  color: white !important;
  font-weight: 500;
}

.action-button-edit {
  background-color: $primary-color-btn;
  border-color: $primary-color-btn;
  border-radius: 5px;
  color: white;
  transition: 200ms;

  &:hover {
    background-color: $primary-color-hover-btn;
    border-color: $primary-color-hover-btn;
  }
}

.action-button-delete {
  background-color: red;
  border-color: red;
  border-radius: 5px;
  color: white;
  transition: 200ms;

  &:hover {
    background-color: rgb(120, 12, 12);
    border-color: rgb(120, 12, 12);
  }
}
