@import '../App.scss';

.table-header {
  thead {
    background-color: $primary-color;
    color: white;
  }
}

.table-data {
  background-color: red;
}

.page-button {
  background-color: $primary-color !important;
  color: white !important;
}
