@import "../App.scss";

.custom-nav {
  box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.075);
  background-color: white;
  padding: 10px;
}

.nav-active {
  color: $primary-color !important;
  font-weight: bold !important;

  &:after {
    content: "";
    display: block;
    background-color: $primary-color;
    height: 4px;
    width: 100%;
  }
}
