@import '../../App.scss';

.button-primary {
  background-color: $primary-color-btn;
  color: white;
  padding: 10px;
  border-color: $primary-color-btn;
  border-radius: 10px;
  transition: 200ms;

  &:hover {
    background-color: $primary-color-hover-btn;
    border-color: $primary-color-hover-btn;
  }
}

button:disabled,
button[disabled] {
  border: 1px solid $primary-color-btn-disabled;
  background-color: $primary-color-btn-disabled;
  color: white;

  &:hover {
    border: 1px solid $primary-color-btn-disabled;
    background-color: $primary-color-btn-disabled;
    color: white;
  }
}
